#wholePage {
    margin: 20px;
    background-color: grey;
}

.myHeader {
    text-indent: 20px;
    text-align: center;
    background-color: #0c606d;
    color: white;
    padding: 30px;
}

.myContent {
    margin: 10px;
}

.myInputs {
    margin-bottom: 10px;
}

#addButton {
    margin-bottom: 10px;
}

.titleCasing {
    text-transform: capitalize;
}

.deleteBtnContainer {
    text-align: center;
}

.myFooter {
    text-align: right;
    margin: 20px;
}